# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

srcbook-api-*.tgz

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.gitignored.*

packages/api/.env
packages/api/*.local

srcbook/public/**/*
!srcbook/public/.gitkeep

srcbook/lib/**/*
!srcbook/lib/.gitkeep

# turbo
**/.turbo

# Aide
*.code-workspace
