@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  /* 204, 12%, 17% */
  /* 200, 15%, 20% */

  .dark {
    --background: 204, 12%, 17%;
    --foreground: 0 0% 100%;
    --card: 222.2 84% 4.9%; /* Old */
    --card-foreground: 210 40% 98%; /* Old */
    --popover: 222.2 84% 4.9%; /* Old */
    --popover-foreground: 210 40% 98%; /* Old */
    --primary: 217.2 91.2% 59.8%; /* Old */
    --primary-foreground: 222.2 47.4% 11.2%; /* Old */
    --secondary: 217.2 32.6% 17.5%; /* Old */
    --secondary-foreground: 210 40% 98%; /* Old */
    --muted: 215, 8%, 45%;
    --muted-foreground: 215 20.2% 65.1%; /* Old */
    --accent: 217.2 32.6% 17.5%; /* Old */
    --accent-foreground: 210 40% 98%; /* Old */
    --destructive: 0 62.8% 30.6%; /* Old */
    --destructive-foreground: 210 40% 98%; /* Old */
    --border: 204, 19%, 26%;
    --input: 200, 15%, 20%;
    --ring: 224.3 76.3% 48%; /* Old */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.cm-editor {
  @apply rounded-b;
  max-height: 80vh;
}

.cm-editor.cm-focused {
  outline: none;
  border: none;
}

.cm-editor .cm-gutters {
  @apply rounded-bl;
}

.cm-editor .cm-gutters .cm-gutterElement {
  @apply px-1.5;
}

.cm-editor .cm-content {
  @apply bg-input/10;
}

.cm-editor .cm-scroller {
  overflow: auto;
}

.cm-editor .cm-gutters,
.cm-editor .cm-content {
  min-height: '100px';
}

.cm-editor * {
  font-family: 'IBM Plex Mono', ui-monospace, 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas',
    'Liberation Mono', 'Courier New', 'monospace';
  font-size: 14px;
}
