@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sb-core-0: 0 0% 100%;
    --sb-core-10: 210 33% 99%;
    --sb-core-20: 210 7% 95%;
    --sb-core-30: 204 7% 86%;
    --sb-core-40: 207 7% 76%;
    --sb-core-50: 205 7% 67%;
    --sb-core-60: 204 7% 59%;
    --sb-core-70: 203 7% 49%;
    --sb-core-80: 205 11% 40%;
    --sb-core-90: 204 16% 32%;
    --sb-core-100: 203 17% 26%;
    --sb-core-110: 204 17% 23%;
    --sb-core-120: 206 16% 19%;
    --sb-core-130: 203 17% 15%;
    --sb-core-140: 204 17% 11%;
    --sb-core-150: 206 18% 8%;
    --sb-core-160: 200 16% 4%;

    --sb-yellow-10: 33 100% 95%;
    --sb-yellow-20: 33 100% 90%;
    --sb-yellow-30: 33 97% 85%;
    --sb-yellow-40: 34 96% 81%;
    --sb-yellow-50: 35 95% 76%;
    --sb-yellow-60: 33 76% 69%;
    --sb-yellow-70: 35 31% 45%;
    --sb-yellow-80: 34 28% 32%;

    --sb-red-10: 0 100% 96%;
    --sb-red-20: 0 100% 86%;
    --sb-red-30: 0 100% 76%;
    --sb-red-40: 0 100% 66%;
    --sb-red-50: 0 66% 53%;
    --sb-red-60: 0 66% 41%;
    --sb-red-70: 0 74% 30%;
    --sb-red-80: 0 82% 20%;

    --sb-blue-10: 203 100% 95%;
    --sb-blue-20: 202 100% 84%;
    --sb-blue-30: 202 100% 73%;
    --sb-blue-40: 202 100% 61%;
    --sb-blue-50: 202 100% 50%;
    --sb-blue-60: 202 100% 40%;
    --sb-blue-70: 202 100% 30%;
    --sb-blue-80: 202 100% 20%;
  }

  :root {
    --tertiary: var(--sb-core-0);
    --tertiary-foreground: var(--sb-core-60);
    --run: var(--sb-yellow-50);
    --run-foreground: var(--sb-core-100);
    --run-ring: var(--sb-yellow-50);
  }

  .dark {
    --tertiary: var(--sb-core-130);
    --tertiary-foreground: var(--sb-core-60);
    --run: var(--sb-yellow-50);
    --run-foreground: var(--sb-core-100);
    --run-ring: var(--sb-yellow-50);
  }

  /* shadcn variables light */
  :root {
    --background: var(--sb-core-0);
    --foreground: var(--sb-core-100);
    --card: var(--sb-core-0);
    --card-foreground: var(--sb-core-100);
    --popover: var(--sb-core-0);
    --popover-foreground: var(--sb-core-100);
    --primary: var(--sb-core-100);
    --primary-foreground: var(--sb-core-0);
    --secondary: var(--sb-core-0);
    --secondary-foreground: var(--sb-core-100);
    --muted: var(--sb-core-10);
    --muted-foreground: var(--sb-core-30);
    --accent: var(--sb-blue-60);
    --accent-foreground: var(--sb-core-0);
    --destructive: var(--sb-red-40);
    --destructive-foreground: var(--sb-core-0);
    --border: var(--sb-core-30);
    --input: var(--sb-core-30);
    --ring: var(--sb-core-100);
  }

  /* shadcn variables dark */
  .dark {
    --background: var(--sb-core-130);
    --foreground: var(--sb-core-0);
    --card: var(--sb-core-130);
    --card-foreground: var(--sb-core-0);
    --popover: var(--sb-core-130);
    --popover-foreground: var(--sb-core-0);
    --primary: var(--sb-core-0);
    --primary-foreground: var(--sb-core-100);
    --secondary: var(--sb-core-130);
    --secondary-foreground: var(--sb-core-0);
    --muted: var(--sb-core-120);
    --muted-foreground: var(--sb-core-90);
    --accent: var(--sb-blue-60);
    --accent-foreground: var(--sb-core-0);
    --destructive: var(--sb-red-40);
    --destructive-foreground: var(--sb-core-0);
    --border: var(--sb-core-100);
    --input: var(--sb-core-100);
    --ring: var(--sb-core-0);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.cm-editor {
  @apply rounded-b;
  max-height: 80vh;
}

.cm-editor.cm-focused {
  outline: none;
  border: none;
}

.cm-editor .cm-gutters {
  @apply rounded-bl;
}

.cm-editor .cm-gutters .cm-gutterElement {
  @apply px-1.5;
}

.cm-editor .cm-content {
  @apply bg-input/10;
}

.cm-editor .cm-scroller {
  overflow: auto;
}

.cm-editor .cm-gutters,
.cm-editor .cm-content {
  min-height: '100px';
}

.cm-editor * {
  font-family: 'IBM Plex Mono', ui-monospace, 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas',
    'Liberation Mono', 'Courier New', 'monospace';
  font-size: 14px;
}
