# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests.
# For now we only run against node 22.x, but can easily add more node versions should we decide to support them.
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js + pnpm CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  app:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
        node-version: [22.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: true

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Lint
        run: turbo run check-prettier

      - name: Check that the application can successfully build
        run: turbo run build

      - name: Test
        run: turbo test
